@import "_style-lib.scss";

.advantages {
  padding-top: 14px;
  padding-bottom: 5px;

  &__text {
    position: relative;
    display: block;
    padding: 0;
    padding-left: 49px;
    margin: 0;

    width: 214px;

    font-size: 14px;
    line-height: 20px;

    &::before {
      @include pseudo-element;

      top: 0px;
      left: -3px;

      width: 45px;
      height: 49px;

      background-image: url("../img/cup.svg");
      background-position: 0 0;
      background-repeat: no-repeat;
    }
  }

  &__rating {
    margin-top: 4px;
    margin-left: 47px;
  }
}

.advantages--reg {
  padding-left:  18px;
}

.advantages__text--reg {
  padding-top: 13px;
  font-size: 13px;
  line-height: 19px;

  &::before {
    top: 13px;
  }
}

.advantages__rating--reg {
  margin-left: 48px;
  margin-bottom: 22px;
}


@media (min-width: 1920px) {
  .advantages {
    display: flex;
    width: 770px;
    padding-top: 32px;
    padding-bottom: 30px;

    &__text {
      padding-left: 43px;
      margin: 0;

      width: 280px;

      font-size: 18px;
      line-height: 26px;

      &::before {
        width: 42px;
        height: 44px;
        top: -13px;
        left: -4px;
      }
    }

    &__rating {
      margin-left: 3px;
      margin-top: 2px;
    }
  }

  .advantages--reg {
    position: relative;
    padding-bottom: 45px;
  }

  .advantages__text--reg {
    width: 350px;
    padding-left: 70px;
    padding-top: 25px;
    font-size: 18px;
    line-height: 26px;

    &::before {
      top: 12px;
      left: 20px;
    }
  }

  .advantages__rating--reg {
    position: absolute;
    top: 51px;
    left: 354px;
  }
}
