@import "style-lib.scss";

.rating {
  display: inline-block;
  width: 118px;
  height: 18px;

  background-image: url("../img/stars.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}




